#load-screen {
	background: url(../images/header-back.png);
	position: fixed;
	z-index: 10000;
	top:0px;
	width: 100%;
	height: 1600px;
}


#loading {
	width: 500px;
	height: 500px;
	margin: 10% auto;
	background: url(../images/loader.gif);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}
.users-online {
	color: #fff;
	float: right;
}
.fa-circle{
	color: green;
}
.users-online{
	padding-left: 7px;
}
